

		<div id="page-wrapper" class="home">

			<!-- Header -->
				<header id="header" class="alt">

                        <nav id="nav">
                            <ul>
								<li class="current"><a ui-sref="home">Home</a></li>
								<li><a ui-sref="grave_availability">Grave Availability</a></li>
								<li><a ui-sref="sign-In">Sign In</a></li>
								<li><a ui-sref="nextOfKin">Next Of Kin</a></li>
								<li><a ui-sref="about-us">About Us</a></li>
								<li><a ui-sref="contact-us">Contact Us</a></li>
                            </ul>
                        </nav>
                    </header>


                <!-- Banner -->

				<section id="banner">


					<div class="inner">


						<header>
							<h2>GRAVEYARDS</h2>
						</header>	<br/>
						<h3><b>Information System</b></h3>
						<h3><b>And &nbsp;&nbsp;&nbsp;<abbr title = "Computerized Death Cetificate Issuance">C.D.C.I</abbr></b></h3>

						<h3><b>Of </b></h3>  <h3><b>Karachi</b> </h3>
					</div>


				</section>



			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-bar-chart-o"></span>
						<h2> <strong>GIS</strong> </h2>(Gravyard Information System) provides
						<br />
						the information of graves in Karachi i.e grave location etc

					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">

								<div class="8u 12u(narrower)">

									<header>
										<h2> <strong>GIS</strong> is the first online system of graveyard in karachi for all people.</h2>
									</header>
									<p>It is locally used for all people to make graves, watering graves and look out the conditions of graves online. And can also get the death certificates by submiting form of required information.</p>


								</div>

							</div>
						</section>



					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2><b>Our GIS focused is on the design and Pre-planed graveyard.</b> </h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Cemetry Design</strong></h3>
										</header>
										<p>Cemetry Development Services employ a team of qualified field surveyors, CAD, Designers, Engineers and in combination of our retained archetects are able to offer an unrivaled service specialising in cemetry design and construction.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Plained Cemetry</strong></h3>
										</header>
										<p>Our specialist team, with many years of experience in cemetry design, planing and delivery can provide you with a full application services facilitating all ther components typically required for cemetry planning.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Surveys and Maping</strong></h3>
										</header>
										<p>As a stand-alone service or part of a custom tailored package we will undertake surveys of cemeteries or convert any existing paper map or written formats into a digital map and Geographical information system data management package.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Drainage</strong></h3>
										</header>
										<p>CDS have specialised in the drainage of cemeteries designing bespoke solutions to surface and groundwater problems. </p>
									</section>

								</div>
							</div>


							<div class="row">
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Environments and Audits</strong></h3>
										</header>
										<p>Cemetery Development Services have been in consultation with representatives of the Environment Agency Groundwater Directives Team to ensure that our clients receive the level of service specific for their needs</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Case Studies</strong></h3>
										</header>
										<p>Cemetery Development Services provide one of the most extensive cemetery management services available, specialising in management, planing and construction for the cemetery industry. Clients include local authorities, architects and developers golf courses and sports ground.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Memorial Safety</strong></h3>
										</header>
										<p>Are you complaint with health and safett regulations and insurerd for accidents involving unstable monuments? We provide quantifable monument stability informaion which is entered in to a bespoke Geographical Info System database.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>

										<header>
											<h3><strong>Water Management</strong></h3>
										</header>
										<p> Water and drainage problems can  be avoided. Simple management techniques can save tens of thousands of pounds in engineering costs and a well designed drainage scheme can be both functional and affordable find out how CDLS help.</p>
									</section>

								</div>
							</div>



						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h3><strong>Grave &nbsp; is&nbsp; first&nbsp; step&nbsp; of&nbsp; human&nbsp; departure.</strong></h3>

					</header>


				</section>

			<!-- Footer -->
				<footer id="footer">

					<!--<ul class="icons">-->
						<!--<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>-->
						<!--<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>-->
						<!--<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>-->
						<!--<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
						<!--<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>-->
					<!--</ul>-->

					<ul class="copyright">
						<li>&copy; Created by Boss Group </li>
					</ul>

				</footer>

		</div>

