

		<div id="page-wrapper" class="contact">

			<!-- Header -->

			<header id="header" class="alt">

				<nav id="nav">
					<ul>

						<li class="current"><a ui-sref="home">Home</a></li>
						<li><a ui-sref="grave_availability">Grave Availability</a></li>
						<li><a ui-sref="sign-In">Sign In</a></li>
						<li><a ui-sref="nextOfKin">Next Of Kin</a></li>
						<li><a ui-sref="about-us">About Us</a></li>
						<li><a ui-sref="contact-us">Contact Us</a></li>
					</ul>
				</nav>
			</header>



			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-tablet"></span>
						<h2>Get In Touch</h2>
						<p>Use the form below to give comments.</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content">
									<form>
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<label>I.D</label>
												<input type="text" name="name"/>
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="email" placeholder="Email" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message" rows="7"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Send Message" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">



					<ul class="copyright">
						<li>&copy; Created by M.Bilal Yousuf </li>
					</ul>

				</footer>

		</div>
