

<div>

    <h1><b>Burial Details</b></h1>

    <input type="text" ng-model="ctrl.burialId" required placeholder="Enter Key"> <br>
    <button type="submit" ng-click="ctrl.searchBdetails(ctrl.burialId)">Search</button>

    </form>

    <div ng-hide="ctrl.hideDetails">
        <table>
            <tr>
                <th>Grave No</th>
                <td>{{ctrl.bDetails.GraveNo}}</td>
            </tr>
            <tr>
                <th>Burial Name</th>
                <td>{{ctrl.bDetails.burialName}}</td>
            </tr>
            <tr>
                <th>Father Name</th>
                <td>{{ctrl.bDetails.fatherName}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ctrl.bDetails.gender}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ctrl.bDetails.age}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ctrl.bDetails.date}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ctrl.bDetails.address}}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img ng-src={{ctrl.bDetails.pic}}></td>
            </tr>
        </table>
    </div>

</div>